#!/bin/bash

{% for repo in repos %}
# ------------------------------------------------------------------------------------------
{% if failed_repos is defined and repo in failed_repos %}
# Omitting {{repo.repo_path}} cause of creation/connection problems

{% elif repo in disabled_repos %}
# Omitting {{repo.repo_path}} cause it's disabled

{% else %}

{% if repo.encryption_passphrase is defined and repo.encryption_passphrase | length > 0 %}
export BORG_PASSPHRASE=$(cat "{{private_working_directory}}/{{repo.passphrase_filename}}")
{% endif %}
{% for archive in repo.archives %}

{{borg_executible}} break-lock {{repo.repo_path}} && \
{{borg_executible}} create \
            --stats \
{% if archive.compression_mode is defined and archive.compression_mode | length > 0 %}
            --compression {{archive.compression_mode}} \
{% endif %}
            {{repo.repo_path}}::{{archive.name}}-`date +%s` \
            {% for path in archive.paths %}"{{path}}" {% endfor %}

{% if repo.prune is defined %}
{{borg_executible}} prune \
            --list \
            {{repo.repo_path}} \
            {% if repo.prune.keep_within is defined %}--keep-within={{repo.prune.keep_within}} {% endif %}{% if repo.prune.keep_daily is defined %}--keep-daily={{repo.prune.keep_daily}} {% endif %}{% if repo.prune.keep_weekly is defined %}--keep-weekly={{repo.prune.keep_weekly}} {% endif %}{% if repo.prune.keep_monthly is defined %}--keep-monthly={{repo.prune.keep_monthly}}{% endif %}
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}
# ------------------------------------------------------------------------------------------
